@charset "utf-8";
/* CSS Document */


/*ESTILO DEL HTML*/
*{
	margin: 0px;
	padding: 5px;
}


/*ESTILO DEL BODY*/
body{
	background-color: #F4EDDC;
}


h1{
	font-family: "Gotham-Condensed-Light", "sans-serif";
	font-size: 35px;
	text-transform: uppercase;
}


/*FUENTES*/
@font-face {
	font-family: "Gotham-Pro-Regular";
	src: url("fonts/Gotham Pro/GothaProReg.otf") format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Gotham-Pro-Bold";
	src: url("fonts/Gotham Pro/GothaProBol.otf") format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Gotham-Condensed-Bold";
	src: url("fonts/Gotham Condensed/GothamCondensed-Bold.otf") format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Gotham-Condensed-Light";
	src: url("fonts/Gotham Condensed/GothamCondensed-Light.otf") format('truetype');
	font-weight: normal;
	font-style: normal;
}


/*ESTILO DEL MENU NAVEGADOR*/
.menu-navegador{
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	font-family: "Gotham-Condensed-Bold", "sans-serif";
	font-size: 30px;
	text-transform: uppercase;
	background-color: transparent;
	cursor: pointer;
	flex-grow: 0;
}
	
.a-nav{
	display: flex;
	flex-direction: row;
	justify-content: center;
	text-decoration: none;
	color: #030002;
	background-color: transparent;
}

.li-nav{
	text-align: center;
	background-color: transparent;
	flex-basis: 0;
	display: inline-block;
	flex-direction: row;
}


/*ESTILO DE SECCION SOBRE MI (FOTO Y TEXTO)*/
#foto-principal-id{
	padding: 0px 60px 15px 60px;
	display:flex;
	flex-direction: row;
	justify-content: center;
}

#texto-sobre-mi-id{
	display: flex;
	flex-direction: row;
	font-family: "Gotham-Condensed-Bold", "sans-serif";
	font-size: 90px;
	color: #030002;
	text-transform: uppercase;
}


/*ESTILO DE SECCION SKILLS + SOFTWARE Y SECCION ESTUDIOS (LOS H1 ESTAN ARRIBA DE TODO)*/
.seccion-skills-software, .seccion-estudios{
	padding: 0px 60px 0px 60px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

#lista-skills-id, #lista-software-id, #lista-estudios-id{
	font-family: "Gotham-Pro-Regular", "sans-serif";
	font-size: 15px;
	color: #030002;
	list-style-type: circle;
}


/*ESTILO DE SECCION CONTACTO*/
#redes-sociales-id{
	display: flex;
	flex-direction: row;
	justify-content: center;
	color: #030002;
}

#linkeo-wpp-id, #linkeo-ig-id, #linkeo-email-id{
	font-family: "Gotham-Pro-Bold", "sans-serif";
	font-size: 10px;
	color: #030002;
	text-transform: lowercase;
	text-decoration: none;
}














/*ESTILO DEL FOOTER*/
.footer{
	padding: 5px;
	background-color: salmon;
	font-family: "Gotham-Pro-Regular", "sans-serif";
	font-size: 15px;
	color: black;
}


