@charset "utf-8";
/* CSS Document */

*{
	margin: 0px;
	padding: 0px;
	background-color: lightcyan;  /* Cuando puse un background-color en todo, en el footer me cambio el color de relleno que elegi, quedo un trazo, como se soluciona eso?*/
}

@font-face {
	font-family: "Gotham-Pro-Regular";
	src: url("fonts/Gotham Pro/GothaProReg.otf") format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Gotham-Pro-Bold";
	src: url("fonts/Gotham Pro/GothaProBol.otf") format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Gotham-Condensed-Bold";
	src: url("fonts/Gotham Condensed/GothamCondensed-Bold.otf") format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Gotham-Condensed-Light";
	src: url("fonts/Gotham Condensed/GothamCondensed-Light.otf") format('truetype');
	font-weight: normal;
	font-style: normal;
}


h2{
	font-family: "Gotham-Condensed-Bold", "sans-serif";
	font-size: 35px;
	color: black;
	text-transform: uppercase;	
}


.menu-navegador{
	list-style: none;
	width: 1260px;
	height: 50px;
	margin: 10px 0px 60px 0px;
	padding: 0px;
	background-color: transparent;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-content: baseline;
	font-family: "Gotham-Pro-Regular" , "sans-serif";
	font-size: 15px;
	text-transform: uppercase
}
	
	.a-nav{
		height: 50px;
		width: 170px;
		text-decoration: none;
		color: black;
		background-color: transparent;
		border-width: 2px;
		border-style: solid;
		border-color: black;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.li-nav{
		height: 50px;
		width: 170px;
		text-align: center;
		background-color: transparent;
		flex-basis: 0;
		display: inline-block;
		margin: 20px; 
	}


.seccion-sobre-mi{
	padding: 15px 60px 15px 60px;
}
	#foto-titulo-id{
		display: flex;
		flex-direction: row;
		align-self: flex-start;
		padding: 0px 60px 15px 0px; 
		font-family: "Gotham-Condensed-Bold", "sans-serif";
		font-size: 90px;
		color: black;
		text-transform: uppercase
	}
	#texto-sobre-mi-id{
		padding: 15px 0px 15px 0px;
		font-family: "Gotham-Pro-Regular", "sans-serif";
		font-size: 15px;
		color: black;
	}


.seccion-skills{
	display: flex;
	flex-direction: row;
	padding: 15px 60px 15px 90px;
	font-family: "Gotham-Pro-Regular", "sans-serif";
	font-size: 15px;
	color: black;
	list-style-type: disc;
}


.seccion-estudios{
	display: flex;
	flex-direction: column;
	padding: 15px 60px 15px 60px;
	font-family: "Gotham-Pro-Regular", "sans-serif";
	font-size: 15px;
	color:black;
	list-style: none;
}


.seccion-contacto{
	padding: 40px;
}
	#titulo-contacto-id{
		display: flex;
		flex-direction: row;
		justify-content: center;
		padding-bottom: 15px;
	}
	#redes-sociales-id{
		display: flex;
		flex-direction: row;
		justify-content: center;
		font-family: "Gotham-Pro-Regular", "sans-serif";
		font-size: 15px;
		color: black;
	}


.footer{
	padding: 5px;
	background-color: salmon;
	font-family: "Gotham-Pro-Regular", "sans-serif";
	font-size: 15px;
	color: black;
}









